@media screen and (max-width: 1060px) {
	display: flex;
	#primary: { width: 67%; } 
	#secondary: { width: 30%; margin-left: 3%; }

}

@media screen and (max-width: 768px) {
	display: flex;
	#primary: { width: 100%; }
	#secondary: { width: 100%; margin: 0; border:  none; }
}
